section {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: pink;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.Home button {
  height: 50px;
  width: 300px;
}

.EndScreen {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options button {
  width: 300px;
  height: 40px;
  margin: 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  background: rgb(254, 219, 225);
  border-radius: 8px;
}

.options button:hover {
  background: rgb(251, 231, 235);
}

.navigate-btn {
  padding: 12px 28px;
  margin: 5px auto;
  cursor: pointer;
  color: #fff;
  background: rgb(215, 109, 127);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 150ms ease-in-out;
}

.navigate-btn:hover {
  background: black;
}
